.header{
    background-color: white;
    padding: 20px;
    border-bottom: 1px solid lightgrey; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    position: sticky;
    top:0;
}
.brand-img{
    width: 12rem;
    object-fit: contain;
}
.signup-form{
    display: flex;
    flex-direction: column;
}
.signup-form button{
   margin-top: 30px;
}
.signup-form input{
    margin: 20px 0;
}

